/*
/* FOOTER */

footer {
  margin: 0 auto;
  width: auto;
  border-top: #e6232a solid 1px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.arrowUp-style {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.pages {
  position: absolute;
  top: 10px;
}
.Btn-page {
  border: solid 1px #e6232a;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
}
.arrowUp-style:hover {
  opacity: 70%;
}
.Btn-page:hover {
  background-color: #e6232a;
}
.pages {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.icon-arrow-up {
  height: 25px;
  width: 25px;
}
.icon-arrow-left,
.icon-arrow-right {
  height: 13px;
  width: 13px;
  padding: 5px;
}
.icon-arrow-left:hover,
.icon-arrow-right:hover {
  filter: brightness(0.1);
}
