.container-fav {
  width: 1100px;
  height: 3000px;
  margin: 0 auto;
  border: solid 1px red;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.containerFavCharacters,
.containerFavComics {
  width: 50%;
}

.FavDisplay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favTitle {
  margin-bottom: 20px;
  font-weight: bold;
}
.favCharacter,
.favComics {
  border: solid 1px #202020;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
.infoFav {
  flex: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
}
.removeFav {
  flex: 0.05;
  display: flex;
  align-items: center;
  justify-content: center;
}
.removeFavIcon {
  height: 20px;
  width: 20px;
}
.removeFavIcon:hover {
  transform: scale(1.05);
}
