.comicsByCharacterId {
  margin: 0 auto;
  max-width: 600px;
  width: auto;
  /* border: #e6232a solid 2px; */
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.styleBycomic {
  margin: 10px 10px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.ComicByCharId-TOP {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6232a;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 4px;
}
.whiteTriangleAbsoluteComicById {
  position: absolute;
  transform: rotate(75deg);
  right: 97%;
  top: -70%;
}
.whiteTriangleAbsoluteComicByIdICON {
  height: 30px;
  width: 30px;
}
.ComicByCharId-BOTTOM {
  display: flex;
  height: 200px;
}
/* .ComicByCharId-LEFT {
} */

.jacketComicsImginComicsByCharacterId {
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 0px 6px 1px;
}
.ComicByCharId-RIGHT {
  width: 100%;
  border-left: #e6232a solid 3px;
  padding-left: 10px;
  padding-right: 5px;
  color: black;
  /* border: solid 1px goldenrod; */
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
}
.ComicByCharId-RIGHT::-webkit-scrollbar {
  display: none;
}
.titleSum {
  margin-top: 10px;
  margin-bottom: 7px;
  color: #e6232a;
  font-size: 18px;
}
.summary,
.summaryScroll {
  font-size: 18px;
}
