/*
/* HEADER */
.header-desktopNav {
  width: 100%;
  background-color: #202020;
  margin-bottom: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container-user {
  /* border: 1px solid red; */
  position: absolute;
  top: 20px;
  left: 10%;
  display: flex;
  gap: 15px;
}
.header-join,
.header-signin,
.header-split,
.header-quit {
  font-size: 16px;
}
.header-signin,
.header-join,
.header-split {
  color: white;
}
.header-split {
  cursor: default;
}
.header-signin:hover,
.header-join:hover {
  color: #e6232a;
}

@media (max-width: 768px) {
  .header-join,
  .header-signin,
  .header-split {
    display: none;
  }
}
@media (max-width: 370px) {
  .header-quit {
    display: none;
  }
}
@media (max-width: 320px) {
  .logout-img {
    visibility: hidden;
  }
}
.header-desktopNav-top {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #e6232a;
  height: 50px;
  width: auto;
  background-color: #202020;
}
.header-desktopNav-top img {
  width: auto;
}
.logo-marvel {
  height: 100%;
}
.header-desktopNav-bottom {
  display: flex;
  width: auto;
  height: 40px;
  gap: 10px;
  background-color: #202020;
}

.header-desktopNav-bottom-link {
  padding: 9px;
  height: 100%;
  font-size: 16px;
  /* color: grey; */
}

.header-desktopNav-bottom-link:hover {
  cursor: pointer;
  color: white;
}
.Link-Menu-Style {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.Link-Menu-Style:hover {
  border-bottom: solid 2px #e6232a;
}
.logout-style {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-quit {
  background-color: #e6232a;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.logout-style img {
  height: 26px;
  width: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
}
