/*
/* HEADER */
.header-desktopNav {
  background-color: #202020;
  margin-bottom: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.header-container-user {
  /* border: 1px solid red; */
  position: absolute;
  top: 20px;
  left: 10%;
  display: flex;
  gap: 15px;
}
.header-join,
.header-signin,
.header-split,
.header-quit {
  font-size: 18px;
}
.header-signin,
.header-join,
.header-split {
  color: white;
}
.header-signin:hover,
.header-join:hover {
  color: #e6232a;
}

@media (max-width: 768px) {
  .header-join,
  .header-signin,
  .header-split,
  .header-quit {
    display: none;
  }
}
.header-desktopNav-top {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #e6232a;
  /* border: 1px solid green; */
}
.header-desktopNav-top img {
  width: auto;
}
.logo-marvel {
  height: 50px;
}
.header-desktopNav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.header-desktopNav-bottom-nav {
  display: flex;
  gap: 50px;
}
.header-desktopNav-bottom-link {
  cursor: pointer;
  color: white;
  padding: 9px;
}
.header-desktopNav-bottom-link:hover {
  cursor: pointer;
  background-color: #e6232a;
}
.header-quit {
  background-color: #e6232a;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
.logout-style {
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
}
.logout-style img {
  height: 20px;
  width: 20px;
}
