/*
/* SIGN IN  AND JOIN*/
.signin-container,
.join-container {
  box-sizing: border-box;
  /* border: solid 1px black; */
  margin: 5vh auto;
  width: 85vw;
  max-width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
/* .claws {
  background-image: url("../assets/images/claws.jpg");
} */
.signin-container span,
.join-container span {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.signin-title,
.join-title {
  /* border: solid 1px black; */
  font-size: 28px;
  margin-bottom: 40px;
}
.signin-title,
.join-title {
  margin-top: 20px;
}
.signin-form,
.join-form {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
.signin-form input,
.join-form input {
  font-family: Marvel, sans-serif;
  font-size: 20px;
  font-weight: 900;
  height: 30px;
  border: none;
}
.signin-form input:focus,
.join-form input:focus {
  outline: none;
}
.signin-form .userInput,
.join-form .userInput {
  color: #e6232a;
  border-bottom: solid 1px #e6232a;
}
.signin-form input::placeholder,
.join-form input::placeholder {
  font-family: Marvel, sans-serif;
  font-size: 18px;
  color: lightgrey;
}
.BtnStyle {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #e6232a;
  border-radius: 3px;
  border: none;
}
.Btn-submit {
  width: 100%;
  color: white;
  background-color: #e6232a;
  cursor: pointer;
}
.Btn-submit:hover,
.BtnStyle:hover {
  background-color: #e65656;
}
.alreadysigned {
  display: flex;
  justify-content: center;
  color: #e6232a;
  font-size: 18px;
}
.alreadysigned p:hover {
  border-bottom: solid 1px #e6232a;
}

/* ERROR PASSWORD */
.border-error {
  border: solid #e6232a 2px;
  height: 30px;
}
