.container-fav {
  width: 1100px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.containerFavCharacters,
.containerFavComics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerFavComics {
  visibility: hidden;
}
.FavDisplay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favTitle {
  padding: 12px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  margin-right: 70px;
}
.favCharacter,
.favComics {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 3px;
}
.infoFav {
  flex: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  width: 100%;
  padding: 10px;
}
.removeFav,
.charInfo {
  flex: 0.05;
  display: flex;
  justify-content: center;
}
.charInfo {
  align-items: flex-end;
}
.removeFav {
  position: absolute;
  top: 5px;
  right: 5px;
}
.removeFavIcon {
  height: 30px;
  width: 30px;
}
.charInfoIcon {
  height: 20px;
  width: 25px;
  filter: invert(0.2);
}
.charInfoIcon:hover {
  filter: invert(0);
}
.removeFavIcon:hover,
.charInfoIcon:hover {
  transform: scale(1.2);
}
.whiteAngleInFav1 {
  position: absolute;
  bottom: 56%;
  right: 94%;
  transform: rotate(195deg);
}
.whiteAngleInFav2 {
  position: absolute;
  top: 56%;
  left: 95%;
  transform: rotate(15deg);
}
.whiteAngle-icon {
  height: 35px;
  width: 35px;
  /* border: solid 1px red; */
}
