/*
/*Character/:CharacterId*/

.characterId-all-comics {
  margin: 0 auto;
  max-width: 1184px;
  width: auto;
  border: #e6232a solid 2px;
}
//
//Responsive
@media (min-width: 1184px) {
  .littleRedBar {
    height: 31px;
    border-right: #e6232a solid 2px;
    position: absolute;
    top: -5%;
    left: 475px;
  }
}
@media (max-width: 490px) {
  .characterIdDescrip,
  .responsiveInfoCharID {
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .containerLinkBackCharacters {
    border-bottom: #e6232a solid 2px;
  }
}
@media (min-width: 491px) {
  .displayApparitionsinCharacterId {
    width: 30vw;
  }
  .characterIdDescrip,
  .responsiveInfoCharID {
    max-width: 50%;
  }
  .characterId-image {
    width: 65vw;
    max-width: 50%;
  }
}
@media (max-width: 490px) {
  .hidePrimaryBorder {
    border-left: white solid;
    border-width: 10px;
    height: 101%;
    position: absolute;
    left: -2px;
    top: -1%;
  }
  .hideSecondaryBorder {
    background-color: white;
    height: 2px;
    min-width: 28%;
    max-width: 55%;
    position: absolute;
    top: -2px;
    left: -250px;
    overflow: hidden;
    margin-right: auto;
  }
  .hideThirdBorder {
    background-color: white;
    height: 2px;
    min-width: 52.8%;
    max-width: 55%;
    position: absolute;
    top: 100%;
    left: -251px;
    overflow: hidden;
    margin-right: auto;
  }
  .thirdBorder {
    border-left: #e6232a solid 2px;
    height: 100%;
    position: absolute;
    left: -2px;
  }
}
.hideSecondaryBorder {
  width: 100%;
}
//
//
.infos-character-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 10px 0 0px;
}
.containerCharIdImageAndDescrip {
  display: flex;
  justify-content: space-between;
}

.characterIdDescrip {
  font-size: 18px;
  width: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 26px;
}
.characterIdDescripTitle {
  padding-top: 20px;
}
.characterIdApparitionTitle {
  padding-top: 10px;
}
.characterIdDescripTitle,
.characterIdApparitionTitle {
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.DescriByID {
  margin-left: 10px;
}

.characterId-image {
  width: auto;
  object-fit: cover;
  margin-left: 10px;
  margin-bottom: -3px;
}
.nameCharacterId {
  font-size: 28px;
  width: fit-content;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #e6232a;
  padding: 15px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 6px 4px;
}
.imageCharacterId {
  margin-left: 10px;
  width: 100%;
  object-fit: cover;
}
.whiteAngleInCharId {
  position: absolute;
  top: -14px;
  left: -12px;
  transform: rotate(70deg);
}
.whiteAngle-iconCharId {
  height: 30px;
  width: 30px;
}
.character-all-comics {
  margin: 40px 0px 0px 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  flex-direction: column;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px 2px;
}
.characterIdApparitionTitle {
  color: white;
}
.CharacterIdViews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  width: auto;
  color: white;
}
.displayApparitionsinCharacterId {
  display: flex;
  gap: 5px;
  margin-left: 10px;
}
.seeHisComics {
  margin: 10px 0px 0px 10px;
  text-decoration: underline;
}
.seeHisComics:hover {
  color: #e6232a;
}
.CharacterIdViews span {
  font-size: 22px;
}
.comicsList {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-weight: 500;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  width: auto;
}
.comicTitle {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.containerLinkBackCharacters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 35px;
  padding-left: 10px;
  width: 110%;
  background-color: white;
  padding-bottom: 20px;
}
.chevronRedBack {
  display: flex;
}
.absoluteChevronBack {
  position: absolute;
  left: 6px;
}
.chevronRedBackIcon {
  display: flex;
}
.chevronRedBackIcon {
  height: 15px;
  width: 15px;
  transform: rotate(90deg);
  margin-top: 5px;
}

.backToCharactersPage {
  margin-top: 3px;
}
.backToCharactersPage p {
  color: #e6232a;
  font-size: 18px;
  display: flex;
  text-decoration: underline;
}
