/*
/* HEADER */
.header-desktopNav {
  background-color: #202020;
  margin-bottom: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-container-user {
  /* border: 1px solid red; */
  position: absolute;
  top: 20px;
  left: 5%;
  display: flex;
  gap: 15px;
}
@media (min-width: 1024px) {
  .header-container-user {
    left: 13%;
  }
}
.header-join,
.header-signin,
.header-split,
.header-quit {
  font-size: 16px;
}
.header-signin,
.header-join,
.header-split {
  color: white;
}
.header-split {
  cursor: default;
}
.header-signin:hover,
.header-join:hover {
  color: #e6232a;
}

@media (max-width: 425px) {
  .header-join,
  .header-signin,
  .header-split {
    display: none;
  }
}

@media (min-width: 426px) {
  .burgerResponsive,
  .burgerResponsiveIcon {
    display: none;
  }
}
.burgerResponsive {
  position: absolute;
  top: 12%;
  left: 9%;
}
.visibleBurger {
  display: block;
}
.invisibleBurger {
  display: none;
}
@media (max-width: 370px) {
  .header-quit {
    display: none;
  }
}
@media (max-width: 319px) {
  .logout-img {
    visibility: hidden;
  }
}
.header-desktopNav-top {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #e6232a;
  height: 50px;
  /* width: auto; */
  background-color: #202020;
}
.logo-marvel {
  height: 100%;
}
.logout-style {
  display: flex;
  cursor: pointer;
}
.header-quit {
  border: solid 1px #e6232a;
  color: white;
  padding: 5px;
}
.header-quit:hover {
  background-color: #e6232a;
}

.logout-style img {
  height: 26px;
  object-fit: cover;
  display: flex;
  align-items: center;
}
.header-desktopNav-bottom {
  display: flex;
  justify-content: center;
  height: 40px;
  gap: 10px;
}

.header-desktopNav-bottom-link {
  padding: 9px;
  font-size: 16px;
}

.header-desktopNav-bottom-link:hover {
  cursor: pointer;
  color: white;
}
.Link-Menu-Style {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
