@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0 auto;
  font-family: Marvel, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

/*
/* HEADER */
.header-desktopNav {
  /* background-color: #202020; */
  margin-bottom: 30px;
}
.header-desktopNav-top {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px black;
}
.header-link {
  text-decoration: none;
  color: black;
}
.header-desktopNav-top img {
  height: 50px;
  width: auto;
}
.header-desktopNav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px black;
  height: 40px;
}
.header-desktopNav-bottom-nav {
  display: flex;
  gap: 50px;
}
.header-desktopNav-bottom-link {
  cursor: pointer;
}
/*
/* SEARCH */
.searchBar {
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
}
.searchIcon {
  height: 20px;
  object-fit: cover;
}
.searchBar input {
  width: 600px;
  font-size: 18px;
  font-weight: 900;
  color: black;
  font-family: Marvel, sans-serif;
  border: none;
  border-bottom: solid 1px lightgray;
}
.searchBar input:focus {
  outline: none;
}

/*
/* CHARACTERS */
.title-page {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.characters-main-container,
.characterId-all-comics {
  width: 1100px;
  margin: 0 auto;
}
.characters-all-cards {
  display: flex;
  justify-content: center;
  border: solid 2px green;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px;
}
.characters-containerForEachCharacter {
  width: 200px;
  height: 300px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.characters-card-top {
  width: 200px;
  height: calc(60%);
  overflow: hidden;
  border-bottom: 3px solid #e6232a;
  display: flex;
}

.container-imageCharacter {
  /* border: solid 1px blue; */
  display: flex;
}
.imageCharacter {
  width: 200px;
  object-fit: cover;
}
.characters-card-bottom {
  height: calc(40%);
  width: 100%;
  position: relative;
  background-color: #151515;
  cursor: pointer;
}

.characters-card-bottom-animation {
  position: absolute;
  transition: all 0.1s linear 0s;
  background-color: #e6232a;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
}
.showCard {
  position: absolute;
  color: white;
  font-size: 20px;
}
.container-nameCharacter {
  position: relative;
}
.visible :hover {
  position: absolute;
  visibility: visible;
  color: white;
}
.characters-card-bottom:hover .characters-card-bottom-animation {
  height: 100%;
}
.container-nameCharacter {
  /* border: solid 1px pink; */
}
.nameCharacter {
  margin: 8px;
  font-size: 22px;
  color: white;
}
.container-descriptionCharacter {
  /* border: solid 1px gold; */
  height: 100%;
}
.showCard {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: 10px;
  left: 30px;
  visibility: hidden;
}
.showCard :hover {
  visibility: visible;
}
.descriptionCharacter {
  margin: 10px 8px;
  font-size: 16px;
  color: white;
}
.hidden :hover {
  visibility: hidden;
}

/*
/* PAGINATION */
.pages {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*
/*Character/:CharacterId*/
.character-all-comics {
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: solid 2px green;
}
.infos-character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.comicsList {
  display: flex;
  font-weight: 900;
}
.comicsList li {
  list-style: disc;
}
.nameCharacterId {
  margin: 8px;
  font-size: 22px;
  color: black;
}

/*
/* COMICS */
.comics-main-container {
  width: 1200px;
  height: 5000px;
  margin: 0 auto;
  border: solid 1px green;
}
.characters-all-comics {
  border: solid 1px red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 800px;
}
.comics-containerForEachComic {
  width: 250px;
  height: 180px;
  border: solid 1px lightgrey;
  border-radius: 2px;

  display: flex;
}
.comics-left-block {
  border: solid 1px yellow;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}
.imageComic {
  height: auto;
  /* object-fit: cover; */
}
.comics-right-block {
  /* border: solid 1px pink; */
  width: 200px;
}
.comics-right-block-animation {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 125px;
  height: 180px;
  background-color: #0000ff;
  transition: width 0.3s, background-color 2s, transform 2s;
}
.comics-right-block-animation:hover {
  background-color: #ffcccc;
  width: 200px;
  height: 180px;
}
.to-right :after {
  right: 0;
  height: 100%;
}
.to-right :hover :after {
  right: 100%;
  height: 100%;
}
.container-nameComic {
}
.container-descriptionComic {
}
.descriptionComic {
}
