@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* GENERAL */
body {
  margin: 0 auto;
  font-family: Marvel, sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* background-color: #202020; */
}
.Btn-Link {
  text-decoration: none;
  color: black;
}
/*
/* HEADER */
.header-desktopNav {
  /* background-color: #202020; */
  margin-bottom: 30px;
  border: 1px solid gold;
}
.header-container-user {
  /* border: 1px solid red; */
  position: absolute;
  top: 20px;
  left: 10%;
  display: flex;
  gap: 15px;
}
.header-join,
.header-signin,
.header-split {
  font-size: 16px;
}

@media (max-width: 768px) {
  .header-join,
  .header-signin,
  .header-split {
    display: none;
  }
}
.header-desktopNav-top {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px black;
  border: 1px solid green;
}
.header-desktopNav-top img {
  height: 50px;
  width: auto;
  border: 1px solid pink;
}
.header-desktopNav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px black;
  height: 40px;
}
.header-desktopNav-bottom-nav {
  display: flex;
  gap: 50px;
}
.header-desktopNav-bottom-link {
  cursor: pointer;
}
/*
/* SEARCH */
.searchBar {
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
}
.searchIcon {
  height: 20px;
  object-fit: cover;
}
.searchBar input {
  width: 600px;
  font-size: 18px;
  font-weight: 900;
  color: black;
  font-family: Marvel, sans-serif;
  border: none;
  border-bottom: solid 1px lightgray;
}
.searchBar input:focus {
  outline: none;
}

/*
/* CHARACTERS */
.title-page {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.characters-main-container,
.characterId-all-comics {
  width: 1100px;
  margin: 0 auto;
}
.characters-all-cards {
  display: flex;
  justify-content: center;
  /* border: solid 2px green; */
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}
.characters-containerForEachCharacter {
  width: 200px;
  height: 300px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.characters-card-top {
  width: 200px;
  height: calc(60%);
  overflow: hidden;
  border-bottom: 3px solid #e6232a;
  display: flex;
}
.characters-card-top:hover {
  /* zoom sur l'image de la carte */
  /* transform: scale(1.08); */
  opacity: 90%;
}
.container-imageCharacter {
  /* border: solid 1px blue; */
  display: flex;
}
.imageCharacter {
  width: 200px;
  object-fit: cover;
}
.characters-card-bottom {
  height: calc(40%);
  width: 100%;
  position: relative;
  background-color: #151515;
  /* cursor: pointer; */
}

.characters-card-bottom-animation {
  position: absolute;
  transition: all 0.1s linear 0s;
  background-color: #e6232a;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
}
.showCard {
  position: absolute;
  color: white;
  font-size: 20px;
}
.container-nameCharacter {
  position: relative;
}
.visible :hover {
  position: absolute;
  visibility: visible;
  color: white;
}
.characters-card-bottom:hover .characters-card-bottom-animation {
  height: 100%;
}
.container-nameCharacter {
  /* border: solid 1px pink; */
}
.nameCharacter {
  margin: 8px;
  font-size: 22px;
  color: white;
}
.container-descriptionCharacter {
  /* border: solid 1px gold; */
  height: 100%;
}
.showCard {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: 10px;
  left: 30px;
  visibility: hidden;
}
.showCard :hover {
  visibility: visible;
}
.descriptionCharacter {
  margin: 10px 8px;
  font-size: 16px;
  color: white;
}
.hiddenCard :hover {
  visibility: hidden;
}

/*
/* PAGINATION */
.pages {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*
/*Character/:CharacterId*/
.character-all-comics {
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: solid 2px green;
}
.infos-character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.comicsList {
  display: flex;
  font-weight: 900;
}
.comicsList li {
  list-style: disc;
}
.nameCharacterId {
  margin: 8px;
  font-size: 22px;
  color: black;
}

/*
/* COMICS */
.comics-main-container {
  width: 1100px;
  height: 5000px;
  margin: 0 auto;
  /* border: solid 1px green; */
  height: fit-content;
  padding-bottom: 20px;
}
.characters-all-comics {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
}
.comics-containerForEachComic {
  width: 250px;
  height: 250px;
  /* border: solid 1px lightgrey; */
  border-radius: 2px;
  display: flex;
  position: relative;
}
.comics-left-block {
  /* border: solid 1px yellow; */
  width: fit-content;
  /* cursor: pointer; */
}
.imageComic {
  height: 100%;
  width: 100%;
  margin-left: 43px;

  object-fit: contain;
}
.comics-right-block {
  background-color: #202020;
  height: 250px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}
.comics-right-block-animation {
  box-sizing: border-box;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  width: 65px;
  height: 100%;
  background-color: #202020;
  transition: width 0.3s, background-color 1s, transform 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.comics-right-block-animation:hover {
  /* background-color: #202020; */
  width: 250px;
  height: 100%;
}
.hiddenDetails {
  visibility: hidden;
}
.hiddenDetails :hover {
  visibility: visible;
}
.comics-info-title {
  background-color: #e6232a;
  height: 20px;
  width: auto;
  display: flex;
  padding: 5px;
}
.comics-title {
  color: white;
  font-size: 18px;
  overflow: hidden;
}
.comics-info-details {
  padding: 5px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: calc(95%);
}
.comics-details {
  color: white;
  font-size: 16px;
  line-height: 18px;
}
/* transform: rotate(90deg); */

/* .to-right :after {
  right: 0;
  height: 100%;
}
.to-right :hover :after {
  right: 100%;
  height: 100%;
} */
