@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* GENERAL */
body {
  margin: 0 auto;
  font-family: Marvel, sans-serif;
  font-weight: 700;
  font-size: 20px;
  /* background-color: #202020; */
}
.Btn-Link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.BordBlack {
  border: solid 1px black;
}
.BordRed {
  border: solid 1px #e6232a;
}
.BordGold {
  border: solid 1px gold;
}
.BordGreen {
  border: solid 1px green;
}
.BordBlue {
  border: solid 1px blue;
}
.BGMarvelBlack {
  background-color: #202020;
}
.click {
  cursor: pointer;
}
.toasterStyle {
  font-size: 8px;
}

/*
/* SEARCH */
.searchBar {
  margin: 0 auto 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.search-image {
  width: fit-content;
}
.searchIcon {
  height: 20px;
  width: auto;
}
.searchInput {
  min-width: 250px;
  max-width: 600px;
  width: 100%;
}
.searchInput input {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  font-weight: 900;
  color: black;
  font-family: Marvel, sans-serif;
  border: none;
  border-bottom: solid 1px lightgray;
}

.searchBar input:focus {
  outline: none;
}

/*
/* COUNT */
.charactersCount {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 5px;
  margin: 0 20px;
  font-size: 16px;
}
.charactersResults {
  overflow: hidden;
}
.slash1 {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 13px;
  right: 14px;
  clip: rect(5px, auto, 15px, auto);
}
.slash2 {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 13px;
  left: 5px;
  clip: rect(5px, auto, 15px, auto);
}
.iconSlash {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
